*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth ;
    background-color: orange;
    overflow-x: hidden;
}

.page {
    display: none;
    
}
.active {
    display: flex;
    justify-content: center;background-color:orange;
    display: block;
}
#page1{
    margin-left: 2rem;
}
.main{
    background:orange;
}
 button {
    font-size: 2rem;
    width: 9rem;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: right;
    position: relative;
    bottom: 5rem;
}
h1 {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: 1.4rem;
}

#page2 button {
    margin-top: 2rem;
}
#userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.user-card {
    background-color: orange;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    margin-bottom: 1.5rem;
    position: relative;
    top: 5rem;
    left: 5rem;
    width: 300px;
    height: 150px;
}
.user-card h3 {
    margin-bottom: 1px;
    text-transform: uppercase;
}
.user-card a {
    display: block;
    text-align: center;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.user-card a:hover {
    background-color:black;
    color: wheat;
}
#repoList {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.repo-card {
    background-color:transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 300px;
    height: 200px;
}
.repo-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2B6CB0;
    margin-bottom: 0.5rem;
}
.repo-description {
    color: #4A5568;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.total-repository-stars{
    color: #6B7280;
    font-size: 0.875rem;
}
.repo-link {
    color: #3182CE;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
.repo-link:hover {
    color: #2C5282;
    background-color: #E2E8F0;
}
.nana{
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 30px;
    width: 100vw;
    height:100px;
    background-color: black;
    display: flex;
    font-weight:bolder;
    color: white;
    font-size: larger;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
footer a{
    cursor: pointer;
}
footer a:hover{
    color: orange;
}
